<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>

        <!-- 如果你的应用中有使用相机的功能 -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CompendiumOfMateriaMedica"
        tools:targetApi="31">
        <activity
            android:name=".ui.profile.PlantDiscovered"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.compendiumofmateriamedica.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Notification Service -->
        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false" /> <!-- profile activities -->
        <activity
            android:name=".ui.profile.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.MyPoints"
            android:exported="false" />
        <activity
            android:name=".ui.profile.MyPost"
            android:exported="false" />
        <activity
            android:name=".ui.profile.MySearchHistory"
            android:exported="false" />
        <activity
            android:name=".ui.profile.PersonalInfo"
            android:exported="false" />
        <activity
            android:name=".ui.profile.Settings"
            android:exported="false" />
        <activity
            android:name=".ui.profile.AboutUs"
            android:exported="false" />
        <activity
            android:name=".ui.profile.PrivacyPolicy"
            android:exported="false" /> <!-- profile activities -->
        <activity
            android:name="model.FirebaseActivity"
            android:exported="false" />
        <activity
            android:name=".EmptySearchResult"
            android:exported="false" />
        <activity
            android:name=".SearchedResults"
            android:exported="false" />
        <activity
            android:name=".PostShareActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".PlantDetailShow"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>